<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>We Take Your Money</title>
</head>
<body>
<h1>Welcome To the Bank Of Heaven!</h1>

<p>Click to Sign <a th:href="@{/main}">here</a> to give us your money.</p>
</body>
</html>