<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form th:action="@{/main/deposit}" method="post" target="_self">
    <div><label> Amount: <input type="number" name="amount"/> </label></div>
    <div><input id="submit-form" type="submit" value="Deposit"/></div>
</form>

<form th:action="@{/main/withdraw}" method="post" target="_self">
    <div><label> Amount: <input type="number" name="amount"/> </label></div>
    <div><input type="submit" value="Withdraw"/></div>
</form>

<p th:each="account : ${accounts}">
    <span th:text= "${account.amount}"></span>
    <span th:text= "${account.type}"></span>
</p>

<p>
    Balance:
    <span th:text= "${balance}"></span>
</p>


</body>
</html>