<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<head>
    <title>We Take Your Money</title>
</head>
</body>
<h1>Sign Up Now</h1>


<form th:action="@{/user/registration}" method="post" enctype="utf8">
       <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
        <button type="submit" th:text="Submit">submit</button>
</form>
 
<a th:href="@{/login.html}" th:text="Login">login</a>
</html>
